# Ignore vscode configuration files
.vscode/

# Ignore MacOS folder meta-data
.DS_Store

# Ignore cmake build files
build*/

# Ignore packaging files
packaging/

# Ignore .clangd configuration file
.clangd
